*{
    box-sizing: border-box;
}

:root {
    --cream: #FDEAD6;
    --drkblue: #0923AD;
    --lghtblue: #337AFF;
    --drkred: #791900;
    --gold: #FAB319;
    --gray: #506266;
    --green: #0CF25D;
    --sigmar: 'Sigmar', cursive;
    --vina: 'Vina Sans', cursive;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    background-color: var(--lghtblue);
}

header {
    margin: 0;
    text-align: center;
    font-family: var(--sigmar);
    font-size: 2rem;
}

h1{
    margin: 0;
    text-shadow: 1px 1px var(--cream);
}

.container {
    min-height: 80dvh;
    min-width: 80dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
}

.quizcontainer {
    min-height: 80dvh;
    min-width: 40dvw;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: var(--sigmar);
    text-shadow: 1px 1px var(--cream);
    font-size: 2rem;
    text-align: center;    
}

#highscorecontainer{
    min-height: 80dvh;
    min-width: 40dvw;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: var(--sigmar);
    text-shadow: 1px 1px var(--cream);
    font-size: 2rem;
    text-align: center;
}

#submitinits{
    display: none;
}

#inits{
    width: 10ch;
    height: 40px;
    font-size: 2rem;
    font-family: var(--vina);
    border: 2px solid var(--drkblue);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#submitform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answerscontainer {
    display: grid;
    width: 50dvw;
    grid-template-columns: 20% 80%;
    text-shadow: 1px 1px var(--cream);
    gap: 1em;
    text-align: left;
}

.imagecontainer {
    min-height: 70%;
    min-width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

h2 {
    font-family: var(--sigmar);
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-shadow: 1px 1px var(--cream);
}

#logo {
    height: 50%;
    width: 50%;
}

#homebutton {
    position: relative;
    bottom: 5dvh;
    color: var(--cream);
    display: flex;
    margin:auto;
    justify-content: center;
    justify-self: flex-end;
    align-self: center;
}

.button {
    background-color: var(--drkblue);
    border: 2px solid var(--cream);
    font-family: var(--vina);
    border-radius: 10px;
    min-height: 50px;
    min-width: 150px;
    font-size: 2rem;
    color: var(--cream); 
}

.button:hover {
    background-color: var(--drkred);
    border: 2px solid var(--gold);
    box-shadow: 5px 5px var(--gray);
}

.button:active {
    translate: 5px 5px;
    box-shadow: none;
}

.answerbutton {
    background-color: var(--drkblue);
    border: 2px solid var(--cream);
    font-family: var(--vina);
    color: var(--cream);
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 2rem;
    display: none;
}

.answerbutton:hover {
    background-color: var(--drkred);
    border: 2px solid var(--gold);
    color: var(--cream);
    box-shadow: 5px 5px var(--gray);
}

.answerbutton:active {
    translate: 5px 5px;
    box-shadow: none;
}

#scorecontainer {
    display: none;
    min-height: 50dvh;
    width: 80dvw;
    padding: 5px;
    margin: 10px;
    font-family: var(--vina);
    font-size: 2rem;
    
}

#scoreslist{
    margin: 0;
    height: 100%;
}

#indicator{
    display: none;
}

li {
    margin: 6px;
    text-align: justify;
}

a {
    text-decoration: none;
    font-family: var(--sigmar);
}

a:active {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    color: var(--gold);
}

#timer{
    min-height: 10dvh;
    min-width: 10dvw;
    position: absolute;
    top: 5px;
}

.timerlow{
    color: var(--drkred);
    font-size: 3.5rem;
}

.timeup{
    color: var(--drkred);
    font-size: 3.5rem;
    animation: scaleup 3s 1;
}

#hslink{
    font-size: 1.5rem;
}

#correct, #incorrect{
    margin: 20px;
    position: absolute;
}

#correct {
    top: 0;
    left: 0;
}

.indicatorbox{
    position: relative;
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

@keyframes scaleup{
    50%{scale: 2; translate: 55px;}
    100%{scale: 1;}
}

@media (max-width:960px) {
    .imagecontainer {
        min-height: 70dvh;
        min-width: 40dvw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    h2 {
        font-size: 6rem;
    }

    #hslink {
        font-size: 2rem;
    }

    #labelcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .button {
        background-color: var(--drkblue);
        border: 2px solid var(--cream);
        font-family: var(--vina);
        border-radius: 10px;
        min-height: 100px;
        min-width: 250px;
        font-size: 3rem;
        color: var(--cream);
        margin-left: auto;
        margin-right: auto;
    } 

    #inits {
        font-size: 4rem;
    }
    
    #homebutton {
        position: relative;
        bottom: 7dvh;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

@media (max-width:690px) {
    #homebutton {
        position: relative;
        bottom: 4px;
        display: flex;
        margin:auto;
        justify-content: center;
        
    }

    header {
        margin: 0;
        text-align: center;
        font-family: var(--sigmar);
        font-size: 0.8rem;
    }

    #readyheader{
        font-size: 2.3rem;
    }

    .button { 
        min-height: 50px;
        min-width: 150px;
        font-size: 2rem;
    }

    #labelcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    h2 {
        font-size: 3rem;
    }

    #hslink {
        font-size: 2rem;
    }

    .answerscontainer {
        display: grid;
        width: 90%;
        grid-template-columns: 25% 75%;
        gap: .5em;
        font-size: 1rem;
        white-space: pre-wrap;
    }
    .highscoretext {
        font-size: 1.6rem;
    }

    #inits {
        font-size: 2rem;
    }

    .answerbutton {
        background-color: var(--drkblue);
        border: 2px solid var(--cream);
        font-family: var(--vina);
        border-radius: 10px;
        height: 40px;
        width: 75px;
        font-size: 1.2rem;
    }

    #question{
        font-size: 1.6rem;
    }

    @keyframes scaleup{
        50%{scale: 1.5; translate: 15px;}
        100%{scale: 1;}
    }
}

@media (max-width:350px) {
    #homebutton {
        position: relative;
        bottom: 4px;
        display: flex;
        justify-content: center;
    }

    header {
        margin: 0;
        text-align: center;
        font-family: var(--sigmar);
        font-size: 0.8rem;
    }
    
    .answerscontainer {
        display: grid;
        width: 90%;
        grid-template-columns: 35% 75%;
        gap: .5em;
        font-size: 0.8rem;
        white-space: pre-wrap;
    }

    .highscoretext {
        font-size: 1.4rem;
    }

    #hslink {
        font-size: 1.3rem;
    }

    .answerbutton {
        background-color: var(--drkblue);
        border: 2px solid var(--cream);
        font-family: var(--vina);
        border-radius: 10px;
        height: 40px;
        width: 75px;
        font-size: 1.2rem;
    }

    #question{
        font-size: 1.2rem;
    }
}


}